body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Pt Sans', serif;
  margin: 0 auto;
  width: 1920px;
  background-color: #F2F2F2;
}
/* Background */
.setka {
  width: 1920px;
  height: 4539px;
  margin-top: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  background-image: url('../img/setka.svg');
}

.bluebackright {
  width: 456.81px;
  height: 1027.38px;
  margin: 1810px 0px 0px 1465px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/bluebackright.svg');
}

.graybackright {
  width: 320px;
  height: 827.2px;
  margin: 2620px 0px 0px 1600px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/graybackright.svg');
}

.yellowbackright {
  width: 463px;
  height: 678.95px;
  margin: 3292px 0px 0px 1457px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/yellowbackright.svg');
}

.pinkbackright {
  width: 428px;
  height: 1407px;
  margin: 3728px 0px 0px 1492px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/pinkbackright.svg');
}

.bluebackleft {
  width: 456.81px;
  height: 1027.38px;
  margin: 1810px 0px 0px 0px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/bluebackleft.svg');
}

.graybackleft {
  width: 320px;
  height: 827.2px;
  margin: 2620px 0px 0px 0px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/graybackleft.svg');
}

.yellowbackleft {
  width: 463px;
  height: 678.95px;
  margin: 3292px 0px 0px 0px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/yellowbackleft.svg');
}

.pinkbackleft {
  width: 428px;
  height: 1407px;
  margin: 3728px 0px 0px 0px;
  display: block;
  position: absolute;
  z-index: 2;
  background-image: url('../img/pinkbackleft.svg');
}

/* Shapes */
.shapes {
  margin: 578px 0px 0px 413px;
  width: 1059.28px;
  height: 1637.33px;
  position: absolute;
  z-index: 3;
  background: url('../img/shapes.svg');
}

/* Truba */
.sunflower1 {
  width: 597px;
  height: 1193px;
  display: block;
  position: relative;
  z-index: 4;
  margin: -598px 0px;
  background: url('../img/sunflower1.svg');
}

.sunflower2 {
  width: 597px;
  height: 1193px;
  display: block;
  position: relative;
  z-index: 4;
  margin: -1194px 1323px;
  background: url('../img/sunflower2.svg');
}

.truba {
  width: 1920px;
  height: 1678px;
  display: block;
  position: relative;
  z-index: 2;
  margin-top: 598px;
  background-image: url('../img/truba.svg');
}

/* Gachapon */

.cup {
  width: 666px;
  height: 312px;
  display: block;
  position: relative;
  z-index: 4;
  margin-top: -1910px;
  margin-left: 627px;
  background-image: url('../img/cup.svg');
}

.gachapon {
  width: 1475px;
  height: 1475px;
  display: block;
  position: relative;
  z-index: 3;
  margin-top: -132px;
  margin-left: 223px;
  background-image: url('../img/gachapon.svg');
}

.ruchka {
  width: 352.14px;
  height: 581.07px;
  display: block;
  position: absolute;
  margin: -838px 0px 0px 37px;
  z-index: 5;
  background-image: url('../img/ruchka.svg');
}

.gachastand {
  width: 1327px;
  height: 933px;
  display: block;
  position: relative;
  z-index: 2;
  margin-top: -544px;
  margin-left: 296px;
  background-image: url('../img/gachastand.svg');
}

.door {
  width: 400px;
  height: 320px;
  display: block;
  position: relative;
  z-index: 4;
  margin-top: -240px;
  margin-left: 760px;
  background-image: url('../img/door.svg');
}

.way {
  width: 1388.98px;
  height: 1033px;
  display: block;
  position: relative;
  z-index: 2;
  margin-top: -249px;
  margin-left: 258px;
  background-image: url('../img/way.svg');
}

/* Footer */
.footer {
  width: 1920px;
  height: 213px;
  display: block;
  position: absolute;
  top: 4325px;
  z-index: 3;
  background-color: #010AC9;
}

.hselogo {
  width: 280px;
  height: 110.96px;
  display: block;
  position: relative;
  margin: -90px 0px 0px 1590px;
  z-index: 3;
  background-image: url('../img/hselogo.svg');
}

.text {
  margin: 73px 0px 0px 50px;
  display: block;
  position: relative;
}

p {
  font-size: 36px;
  color: #F2F2F2;
}
