/*Респонсив и адаптивы победили меня в этом модуле*/
@media only screen and (min-width: 1367px) and (max-width: 1440px) and (orientation: portrait){
  body{
    width: 1440px;
  }
  .setka {
    width: 1440px;
<<<<<<< HEAD
    height: 3244px;
  }
  .bluebackright {
    width: 341px;
    height: 770.34px;
  }
  .graybackright {
    width: 237px;
    height: 620.24px;
=======
    height: 4732px;
>>>>>>> 7ddf26b2854839ad58f68a490b5c51270889bd92
  }
@media only screen and (min-width: 1025px) and (max-width: 1366px) and (orientation: portrait){
  body{
    width: 1366px;
  }
  .setka {
<<<<<<< HEAD
    width: 1366px;
    height: 3077px;
=======
    width: 1440px;
    height: 4488px;
>>>>>>> 7ddf26b2854839ad58f68a490b5c51270889bd92
  }
@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait){
  body{
    width: 1024px;
  }
  .ruchka, .ruchkamaska {
    display: none;
  }
  .setka {
    width: 1024px;
    height: 2307px;
  }
@media only screen and (min-width: 415px) and (max-width: 768px) and (orientation: portrait){
  body{
    width: 768px;
  }
  .setka {
    width: 768px;
    height: 2143px;
  }
@media only screen and (min-width: 359px) and (max-width: 414px) and (orientation: portrait){
  body{
    width: 414px;
  }
  .setka {
    width: 414px;
    height: 1155px;
  }
@media only screen and (max-width: 360px) and (orientation: portrait){
  body{
    width: 360px;
  }
  .setka {
    width: 360px;
    height: 1004px;
  }
